footer {
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    height: 10vh;
    padding: 10px;
    background-color: #1f1f1f;
    box-shadow: 0px -1px 3px #0A0A0A;
}

#current-music {
    display: flex;
    flex-direction: row wrap;
    width: fit-content;
    align-items: center;
    gap: 10px;
}

#current-music-cover {
    height: 100%;
    object-fit: contain;
}

#music-player {
    display: flex;
    width: 40vw;
    background-color: inherit;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}

#music-player-controls {
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
    align-items: center;
    /* background-color: red; */
}

#music-player-controls button {
    width: 1.5em;
    height: 1.5em;
    background-color: #292929;
    border-radius: 50%;
    transition: 0.3s background-color;
    box-shadow: 1px 1px 5px #141414;
    font-size: 1.25em;
}

#music-player-controls button:hover {
    background-color: #333;
    cursor: pointer;
}

#music-player-controls button:active {
    background-color: #3D3D3D;
}

#music-player-controls button:nth-child(3) {
    font-size: 1.5em;
}

#music-player-controls button:first-child, #music-player-controls button:last-child {
    box-shadow: none;
    background-color: inherit;
}

#music-player-progress {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 10px;
}

#music-player-bar {
    background-color: #292929;
    width: 100%;
    height: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #141414;
    display: flex;
    flex-flow: row nowrap;
}

#music-player-progress-bar {
    width: 50%;
    height: 100%;
    border-radius: 10px;
    background-color: #333;
}