/* _content/EmiPi/Views/Home/Index.cshtml.rz.scp.css */
.container[b-ibweiioxxx] {
    height: 100vh;
    background-color: var(--black-1);
    display: flex;
    flex-flow: column nowrap;
    padding: 10px;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
